@{
    ViewBag.Title = "Home Page";
   
}



<div class="jumbotron">
    <img src="~/Content/Images/Capture.PNG" alt="Alternate Text" style="width: fit-content(); height:auto" />
    @*<h1>ASP.NET</h1>*@
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>GALLERY</h2>
        <p>
            
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>OVERVIEW</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sit neque nam explicabo a eveniet quae quam aliquid, quia ipsum illo tenetur. Itaque quae dolorum quos ab ullam cum provident.
            Suscipit sequi voluptatum nulla aliquid voluptas unde ad ullam quibusdam, eius perspiciatis repudiandae minima ducimus optio, corporis dignissimos esse dolore doloremque blanditiis vero neque? Voluptas corrupti dicta atque dolorum! Vero.
            Molestiae illum obcaecati iure asperiores recusandae autem impedit libero distinctio eaque corporis, perferendis odio iusto non ea cum quos cupiditate velit? Ducimus doloribus quam, ab libero iure quidem recusandae quae.
            Cupiditate illo quibusdam a ducimus. Iure culpa modi commodi ratione eos eum laborum ducimus doloribus? Accusamus asperiores id qui et voluptate iusto delectus voluptas commodi laboriosam sit officia, neque iure?
            Modi dolore vel iure repudiandae consequuntur tempore obcaecati mollitia quas dolorum iusto suscipit inventore sit, sunt iste illo quis. Placeat dolores blanditiis cupiditate fugit porro sint officia! Iure, voluptatem veniam!
            Corporis quidem ad alias est ullam animi iste nesciunt, incidunt esse eveniet, odit consequuntur totam et laborum cum sit eos facilis officia dolore. Soluta similique nulla voluptates. Placeat, itaque ratione?
            Praesentium commodi eius quaerat, veniam cupiditate quos ad magni harum sunt dignissimos facere dolorum officia veritatis quasi illum ea reprehenderit temporibus, debitis consectetur! Obcaecati, odit beatae a aspernatur minus nemo.
            Atque hic est soluta tempora ab necessitatibus nobis assumenda consequuntur, aliquam nostrum maiores. Temporibus distinctio voluptate quaerat perferendis eius ad, natus quis ratione provident voluptatibus molestias perspiciatis rem qui ullam.
            Libero eligendi odio quas! Quibusdam voluptas harum molestiae saepe corrupti hic, sit laboriosam enim facere deleniti quae inventore repellat provident eveniet. Esse magni nemo at iure. Tempora id aliquam quia.
            Quasi officiis eos quia vero at a aliquid accusantium quo, facere, beatae similique adipisci iusto ab. Eaque error obcaecati vero iure debitis, labore cupiditate sint repudiandae, neque, atque itaque odio.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>